pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Machine Learning Execute Pipeline1",
				"type": "AzureMLExecutePipeline",
				"dependsOn": [
					{
						"activity": "RegisterDataset",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"mlPipelineParameters": {
						"batch_size_param": "1",
						"process_count_param": "1"
					},
					"mlPipelineId": "541ca8a3-b2e4-4f18-8489-06fce94e8fb2",
					"dataSetDefinitionValueAssignments": {
						"mnist_param": {
							"savedDataSetReference": {
								"id": "@activity('RegisterDataset').output.id"
							}
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureMLService1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "RegisterDataset",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://eastus.api.azureml.ms/dataset/v1.0/subscriptions/4aaa645c-5ae2-4ae9-a17a-84b9023bc56a/resourceGroups/yayuan/providers/Microsoft.MachineLearningServices/workspaces/ocp-ws/saveddatasets/from-data-path",
					"method": "POST",
					"body": {
						"DatastoreName": "@pipeline().parameters.DatastoreName",
						"RelativePath": "@pipeline().parameters.RelativePath"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com/"
					}
				}
			}
		],
		"parameters": {
			"DatastoreName": {
				"type": "string"
			},
			"RelativePath": {
				"type": "string"
			}
		},
		"annotations": []
	}
}